body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px;
    background-image: linear-gradient(#0505f0, darkviolet);
    color: #f0f0f0;
    height: 100%;
}

a:hover{
    font-weight: bold;
    font-style: italic;
}

.sidebar{
    grid-row: 1;
    grid-column: 1;
    overflow: hidden;
}

.sidebar-elt{
    text-decoration: none;
    background-color: #0000;
}

.page{
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 15vh 1fr 15vh;
    justify-items: center;
}

.page a {
    text-decoration-line: none;
    color: grey;
}

.head {
    grid-row:1;
    grid-column:2;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;

}


.body {
    grid-row: 2;
    grid-column: 2;
}

.flexbox {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    color: black;
    max-width: 450px;
    min-width: 70vw;
    padding-top: 5vh;
    
}

.flexitem {
    padding: 2vh;
    margin: 2vh 2vh;
    border: thin solid white;
    border-radius: 6px;
    background-color:darkorchid;
    text-align: center;
    font-size: 3vh;

}

.flexitem:hover{
    border-width: 3px;

}
 
.flexbox a {
    color:  black;
}

.text-content{
    text-align: left;
    font-size: 2.7vh;
}